:root {
  --color-primary: black;
  --color-secondary: white;
  --color-accent: #1e3d7c;
  --compliment-accent: #994709;
  --font-size: 4vw;
  --border-radius: 10px;
}

body {
  display: grid;
  height: 97vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-family: system-ui, sans-serif;
}

header {
  background: var(--color-accent);
  color: var(--color-secondary);
  grid-column: 1 / 4;
  text-align: center;
  padding: 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: var(--font-size);
}

.sidebar {
  background: var(--color-secondary);
  grid-column: 1 / 2;
  height: auto;
  max-width: 25vw;
}

main {
  background: var(--color-secondary);
  grid-column: 2 / 3;
}

/* button { this needs to be a class as to not inadvertantly mess up the map 
  background-color: var(--compliment-accent);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  border-radius: var(--border-radius);
} */

@media screen and (min-width: 800px) {
  .head {
    font-size: 2vw !important;
  }
  .nav a {
    font-size: 2vw !important;
  }
}

@media screen and (max-height: 400px) {
  .nav {
    display: none;
  }
}

#map {
  height: 100%;
  /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
}

.nav {
  overflow: hidden;
  background: var(--color-accent);
  grid-column: 1 / 4;
}

/* Style the links inside the navigation bar */
.nav a {
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 1vh 1vw;
  margin-top: 4px;
  text-decoration: none;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
}

/* Add an active class to highlight the current page */
.active {
  background-color: var(--compliment-accent);
  color: white;
}

/* Add a background on nav links */
.nav a:hover {
  background-color: var(--compliment-accent);
  color: var(--color-secondary);
}
.logout:hover {
  color: var(--color-secondary);
  background-color: rgb(165, 0, 0) !important;
}
.loginDialog {
  display: grid;
  place-items: center;
  background-image: linear-gradient(var(--color-accent), var(--color-primary));
}
.ag-theme-alpine {
  overflow: hidden;
}
.about {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  text-indent: 25px;
  line-height: 25px;
}
